section {
    padding: 80px 0;
    box-shadow: inset 0px -95px 24px -89px rgba(0,0,0,0.1);
}

section.about > div {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    @include wrapper;
    .text-container {
        margin: auto;
        flex-basis: 320px;
        flex-grow: 1;
        p {
            line-height: 1.3rem;
            // font-size: 0.8rem;
            margin-bottom: 0.5rem;
        }
    }
    .img-container {
        height: 500px;
        flex-basis: 400px;
        flex-grow: 1;
        max-width: 400px;
        max-height: 400px;
        // margin: 25px 0 0 25px;
        margin: auto 0 auto 25px;
        border: 10px solid $white;
        box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

section.projects > div {
    @include wrapper;
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 15px;
    }
    .project {
        transition: box-shadow 0.2s;
        padding: 15px;
        height: 100%;
        position: relative;
        &:hover {
            box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
        }
        .project-header {
            height: 55px;
        }
        h3 {
            font-size: 1.3rem;
            text-align: center;
        }
        .category {
            font-size: 0.9rem;
            margin-bottom: 1rem;
            text-align: center;
        }
        img {
            display: block;
            margin: 1rem auto;
            width: 100%;
            max-width: 500px;
            max-height: 390px;
            object-fit: contain;
        }
        p {
            // font-size: 0.9rem;
            margin-bottom: 1rem;
            cursor: default;
        }
        .tags {
            font-style: italic;
            color: $dark-gray;
            margin-bottom: 70px;
        }
        .links {
            display: grid;
            grid-template-columns: 100px 100px;
            justify-content: center;
            gap: 15px;
            position: absolute;
            bottom: 15px;
            left: 0;
            width: 100%;
        }
        .coming-soon {
            position: absolute;
            bottom: 95%;
            left: 40px;
            width: 100px;
            padding: 3px;
            font-size: 0.7rem;
            background-color: $secondary-color;
            z-index: 1;
        }
        .coming-soon:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-top-color: $secondary-color;
            border-bottom: 0;
            border-left: 0;
            margin-left: -6px;
            margin-bottom: -12px;
        }
    }
}

section.skills {
    background-color: $primary-color;
    div {
        @include wrapper;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 900px;
            margin: auto;
            cursor: default;
            li > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 180px;
                height: 180px;
                text-align: center;
                padding: 5%;
                transition: box-shadow 0.2s, background-color 0.2s;
                &:hover {
                    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
                    background-color: lighten($color: $primary-color, $amount: 10%);
                }
            }
            i {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

section.contact > div {
    @include wrapper;
    form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .subject {
            margin-right: 10px;
        }
        .subject, .email {
            flex-basis: 100px;
            flex-grow: 1;
            margin-bottom: 10px;
        }
        .message {
            flex-basis: 100%;
            flex-grow: 1;
            margin-bottom: 10px;
        }
        .submit {
            flex-grow: 1;
            flex-basis: 100%;
            button {
                margin: auto;
                display: block;
                font-size: 1.2rem;
                padding: 0.4rem 1.6rem;
            }
        }
    }
}