$header-font: 'Manrope', 'Arial', 'Helvetica', sans-serif;
$paragraph-font: 'Manrope', 'Arial', 'Helvetica', sans-serif;

$primary-color: rgb(173, 200, 212);
$secondary-color: #c4daf3;

$white: white;
$gray: #a8a8a8;
$light-gray: #e4e4e4;
$dark-gray: #4d4d4d;

$background-primary-color: $secondary-color;
$font-primary-color: black;