$header-font: 'Manrope', 'Arial', 'Helvetica', sans-serif;
$paragraph-font: 'Manrope', 'Arial', 'Helvetica', sans-serif;

$primary-color: #adc8d4;
$secondary-color: #f6e2d9;

$white: white;
$gray: #a8a8a8;
$light-gray: #e4e4e4;
$dark-gray: #4d4d4d;

$background-primary-color: $secondary-color;
$font-primary-color: black;

@mixin wrapper {
    max-width: 1200px;
    width: 85%;
    margin: auto;
}