$header-font: 'Arial', 'Helvetica', sans-serif;
$paragraph-font: 'Arial', 'Helvetica', sans-serif;

$primary-color: blue;
$secondary-color: cyan;
$white: white;
$gray: #a8a8a8;
$light-gray: #e4e4e4;
$dark-gray: #4d4d4d;

$background-primary-color: $secondary-color;
$font-primary-color: black;