a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", "Arial", "Helvetica", sans-serif;
  color: black;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

p {
  line-height: 1.2rem;
  font-size: 0.9rem;
}

p, a, button, input, label, textarea, body {
  font-family: "Manrope", "Arial", "Helvetica", sans-serif;
  color: black;
  text-decoration: none;
}

.m-skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

li {
  list-style: none;
}

input, textarea, button, a.as-button {
  padding: 0.5rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a8a8a8;
  font-style: italic;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a8a8a8;
  font-style: italic;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a8a8a8;
  font-style: italic;
}

input::placeholder, textarea::placeholder {
  color: #a8a8a8;
  font-style: italic;
}

a:visited {
  color: black;
}

button, a.as-button {
  border: none;
  background-color: #e4e4e4;
  text-align: center;
  position: relative;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

button:hover, a.as-button:hover {
  color: white;
  background-color: #adc8d4;
}

button:disabled, a.as-button.disabled {
  pointer-events: none;
  background-color: #a8a8a8;
}

header {
  position: relative;
  background-color: #f6e2d9;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(-45deg, #adc8d4, white);
  background-size: 400% 400%;
  -webkit-animation: gradient 8s ease infinite;
          animation: gradient 8s ease infinite;
}

header .subtitle {
  margin-top: 1rem;
  font-size: 1.5rem;
}

header .social-links {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  margin: 25px;
  z-index: 10;
  pointer-events: none;
}

header .social-links li {
  position: relative;
}

header .social-links a {
  pointer-events: all;
}

header .social-links i {
  margin-bottom: 1rem;
  padding: 5px;
}

header .social-links .fa-medium {
  font-size: 1.8rem;
}

header .social-links .social-description {
  font-size: 1rem;
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 16px;
  position: relative;
  display: inline-block;
  left: -20px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: left 0.2s, opacity 0.2s;
  transition: left 0.2s, opacity 0.2s;
}

header .social-links .social-description:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: black;
  border-left: 0;
  margin-top: -12px;
  margin-left: -12px;
}

header .social-links a:hover + .social-description {
  left: 10px;
  opacity: 1;
}

header .site-navigation {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 10;
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

header .site-navigation .menu-bars {
  font-size: 2rem;
  padding: 25px;
}

header .site-navigation ul {
  position: absolute;
  top: 75px;
  right: -150px;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}

header .site-navigation .menu-bars:hover + ul, header .site-navigation ul:hover {
  right: 0;
}

header .site-navigation li {
  padding: 5px 25px 5px 0;
}

header .site-navigation a {
  font-size: 1.4rem;
  line-height: 2rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  background-color: #4d4d4d;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

footer p {
  font-size: 0.7rem;
  color: #a8a8a8;
}

footer .version {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  font-style: italic;
}

section {
  padding: 80px 0;
  -webkit-box-shadow: inset 0px -95px 24px -89px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -95px 24px -89px rgba(0, 0, 0, 0.1);
}

section.about > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

section.about > div .text-container {
  margin: auto;
  -ms-flex-preferred-size: 320px;
      flex-basis: 320px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section.about > div .text-container p {
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

section.about > div .img-container {
  height: 500px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 400px;
  max-height: 400px;
  margin: auto 0 auto 25px;
  border: 10px solid white;
  -webkit-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
}

section.about > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.projects > div {
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

section.projects > div ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(470px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  gap: 15px;
}

section.projects > div .project {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  padding: 15px;
  height: 100%;
  position: relative;
}

section.projects > div .project:hover {
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
}

section.projects > div .project .project-header {
  height: 55px;
}

section.projects > div .project h3 {
  font-size: 1.3rem;
  text-align: center;
}

section.projects > div .project .category {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

section.projects > div .project img {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 500px;
  max-height: 390px;
  -o-object-fit: contain;
     object-fit: contain;
}

section.projects > div .project p {
  margin-bottom: 1rem;
  cursor: default;
}

section.projects > div .project .tags {
  font-style: italic;
  color: #4d4d4d;
  margin-bottom: 70px;
}

section.projects > div .project .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px;
      grid-template-columns: 100px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

section.projects > div .project .coming-soon {
  position: absolute;
  bottom: 95%;
  left: 40px;
  width: 100px;
  padding: 3px;
  font-size: 0.7rem;
  background-color: #f6e2d9;
  z-index: 1;
}

section.projects > div .project .coming-soon:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #f6e2d9;
  border-bottom: 0;
  border-left: 0;
  margin-left: -6px;
  margin-bottom: -12px;
}

section.skills {
  background-color: #adc8d4;
}

section.skills div {
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

section.skills div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin: auto;
  cursor: default;
}

section.skills div ul li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 180px;
  text-align: center;
  padding: 5%;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
}

section.skills div ul li > div:hover {
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
  background-color: #cedee6;
}

section.skills div ul i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

section.contact > div {
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

section.contact > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

section.contact > div form .subject {
  margin-right: 10px;
}

section.contact > div form .subject, section.contact > div form .email {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 10px;
}

section.contact > div form .message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 10px;
  min-height: 200px;
}

section.contact > div form .submit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

section.contact > div form .submit button {
  margin: auto;
  display: block;
  font-size: 1.2rem;
  padding: 0.4rem 1.6rem;
}

@media (max-width: 950px) {
  section.about > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.about > div .img-container {
    margin: 25px auto 0 auto;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 2rem;
  }
  header p.subtitle {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 0.8rem;
  }
  section.contact > div form .subject {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  section.projects > div ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 470px) {
  header .social-links i {
    margin-bottom: 0.5rem;
  }
  section.skills > div ul li > div {
    padding: 0;
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 1.6rem;
  }
  header p.subtitle {
    font-size: 1.1rem;
  }
  header .social-links {
    font-size: 1.3rem;
  }
  header .social-links .fa-medium {
    font-size: 1.5rem;
  }
  header .social-links .social-description {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  section.skills > div ul li {
    padding: 0;
    width: auto;
    height: auto;
  }
  footer p {
    text-align: left;
    margin-left: 15px;
  }
}
